<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Other Page</title>
</head>
<body>
   {{ hamp}}
    <p>You went to Worcster {{ worc }} times</p>
    <p>You went to Frank {{ frank }} times</p>
    <p>You went to Berk {{ berk }} times</p>

    <p>Your favourite Dining hall is {{ favDc }}. <br> You went to breakfast {{favBrk }} times, lunch {{favLun }} times, dinner {{favDin }} times, and late night {{favLaN }} times</p>
    <a href="{{ url_for('home') }}">Go back to Home Page</a>
</body>
</html>
